.left {
  padding: 2% 0;
}

@media (max-width: 991px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
  }
  .left {
  }
}
