.hide {
  display: flex;
  flex-direction: row;
  margin: 60px 0px;
  height: 200px;
}

.lines_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.line1 {
  background-color: #cc0133;
  height: 22px;
  margin-top: 5px;
  width: 100%;
}

.line2 {
  background-color: #003466;
  height: 22px;
  margin-bottom: 6px;
  width: 100%;
}

.margin {
  margin: 12px 0px;
}

